/* Import fonts from other file */
@import url(./fonts.css);

/* Import css variables from other file */
@import url(./partials/variables.css);

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@800&family=Lato&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jomhuria&family=Lobster&display=swap");
/* @media screen and (min-width: 992px) {} */
/* start navigation menu */

.header_area .main-menu .nav-item .nav-link {
  color: var(--green-dark);
  font-family: var(--navbar-font);
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.2rem 1.5rem 0.2rem 1.5rem;
}
.header_area .main-menu .nav-item .active {
  color: var(--green-light);
}
.header_area .main-menu .nav-item a:hover {
  color: var(--green-light);
}
.navbar {
  background-color: var(--dark-color);
  border-radius: 0% 0% 2rem 2rem;
}
/* end navigation menu */

/* Start Banner Area */
.site-main .site-banner .container .row .banner-image {
  padding: 3rem 2rem;
}
.guitar-img {
  filter: drop-shadow(-0.1rem 0.1rem 0.08rem rgb(0, 0, 0));
}
.site-main .site-banner .container .row .site-title {
  text-align: center;
  padding-top: 1rem;
}
@media screen and (min-width: 992px) {
  .site-main .site-banner .container .row .site-title {
    text-align: center;
    padding-top: 10rem;
  }
}

.site-main .site-banner .container .row .site-title .site-buttons {
  align-items: center;
  justify-content: center;
}
.site-main .site-banner .container .row .site-title h1 {
  font-size: 6rem;
  font-weight: bold;
  color: var(--dark-color);
  font-family: var(--stylish-font);
  text-align: centre;
  padding-top: 3rem;
  margin-bottom: 0;
  line-height: 5.5rem;
}
.site-main .site-banner .container .row .site-title h4 {
  font-family: var(--roboto);
  font-weight: 600;
  font-size: 1.3rem;
  text-align: centre;
  padding-top: 1rem;
}
/* Buttons */
.site-buttons {
  margin-top: 1rem;
}
.button {
  padding: 0.3rem 0.8rem;
  font-family: var(--roboto);
  font-weight: bold;
  position: relative;
  border: 2px solid transparent;
  border-radius: 0.25rem;
}
.button.primary-button {
  background: var(--gradient-color);
  background-clip: padding-box;
  color: var(--green-light);
  transition: 0.2s ease-in-out;
  box-shadow: var(--box-shadow);
}
.button.primary-button:hover {
  background: var(--green-dark);
  background-clip: padding-box;
  color: var(--dark-color);
}

.button.secondary-button {
  margin-left: 1rem;
  background: var(--green-dark);
  background-clip: padding-box;
  transition: 0.2s ease-in-out;
  box-shadow: var(--box-shadow);
}
.button.secondary-button:hover {
  background: var(--gradient-color);
  background-clip: padding-box;
  color: var(--green-light);
  box-shadow: var(--box-shadow);
}

.button.button.primary-button::after,
.button.secondary-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: var(--gradient-color);
  content: "";
  z-index: -1;
  border-radius: 0.25rem;
}
.banner-bottom {
  display: none;
}
@media screen and (min-width: 992px) {
  .banner-bottom {
    margin-top: 10rem;
    display: inline-block;
  }
}
.professional-work h5 {
  color: var(--dark-color);
  font-size: 0.9rem;
  font-weight: bold;
  font-family: var(--roboto);
}
.interest-work h5 {
  padding-top: 1rem;
  color: var(--dark-color);
  font-size: 0.9rem;
  font-weight: bold;
  font-family: var(--roboto);
}
.bottom-links {
  text-decoration: none;
  font-size: 0.8rem;
  background: var(--dark-color);
  color: var(--green-dark);
  background-clip: padding-box;
  box-shadow: var(--box-shadow2);
  padding: 0.3rem 0.3rem;
  border-radius: 0.25rem;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: ease-in;
}
.bottom-links:hover {
  color: var(--green-light);
  border-radius: 0.65rem;
  font-size: 0.87rem;
}
/* End Banner Area */

/* Start About-Me Area */
.about-area {
  background-color: var(--dark-color);
  padding: 4rem 2rem;
}
.about-heading {
  margin-top: 4rem;
}
@media screen and (min-width: 992px) {
  .about-area {
    padding: 7rem 2rem;
  }
  .about-heading {
    margin-top: 0rem;
  }
}
.image-dp {
  border-radius: 50%;
  width: 50%;
  box-shadow: var(--image-shadow);
}

.button-about {
  background: var(--gradient-color);
  background-clip: border-box;
  color: var(--green-light);
  box-shadow: var(--box-shadow2);
  border: 0.1rem solid var(--dark-color);
  transition: 0.2s ease-in-out;
}
.button-about:hover {
  background: var(--dark-color);
  color: var(--green-dark);
  background-clip: padding-box;
  box-shadow: var(--box-shadow2);
  border: 0.1rem solid #3caa7a;
}

.button-about::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: var(--gradient-color);
  content: "";
  z-index: -1;
  border-radius: 0.25rem;
}

.about-title span {
  color: var(--green-dark);
  font-family: var(--heading-font);
  font-size: 4rem;
  line-height: 3rem;
}

.about-title .paragraph p {
  color: var(--green-light);
  font-family: var(--basic-font);
  text-align: justify;
  /* padding-right: 3rem; */
}
@media screen and (min-width: 992px) {
  .about-title .paragraph p {
    color: var(--green-light);
    font-family: var(--basic-font);
    text-align: justify;
    padding-right: 14rem;
  }
}
/* End About-Me Area */

/* Start Coding Area */
.coding-image {
  padding: 2rem;
}
.coding-img {
  padding: 0rem 6rem 6rem 6rem;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem #000000);
}
.coding-area {
  padding: 0rem 4rem;
}
.site-logo-row {
  display: flex;
  justify-content: center;
  padding: 4rem 7rem;
}

@media screen and (min-width: 992px) {
  .coding-image {
    padding: 4rem 0rem;
  }
}
/* End Coding Area */
